In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

In [2]:
df = pd.read_csv('Resources/eventfeedbackcleanest.csv')
df

,-Month-Event / Meeting Date,-Year-Event / Meeting Date,Rebook Rating,Overall City Value,Overall Meeting Value,Ease of Business,Public Safety,Cleanliness,Hotel Package,Entertainment / Attractions,Shopping,Restaurants,Nightlife,Airport Experience,Public Transport (MARTA),Taxi Service,Rideshare,Walkability,Overall Attendance,International Attendance
0,March,2012,NaN,3.0,3.0,3.0,NaN,3.0,NaN,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
1,January,2012,NaN,5.0,5.0,5.0,NaN,5.0,NaN,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0
2,January,2012,NaN,5.0,5.0,5.0,NaN,4.0,NaN,5.0,1.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,March,2012,NaN,5.0,5.0,5.0,NaN,4.0,NaN,3.0,3.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0
4,February,2012,NaN,5.0,5.0,5.0,NaN,5.0,NaN,3.0,5.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,November,2022,1.0,3.0,3.0,5.0,4.0,2.0,4.0,2.0,1.0,2.0,2.0,5.0,4.0,3.0,3.0,5.0,3.0,3.0
448,October,2022,0.0,2.0,3.0,4.0,4.0,3.0,3.0,3.0,2.0,1.0,2.0,3.0,NaN,NaN,NaN,3.0,4.0,NaN
449,August,2022,1.0,5.0,5.0,5.0,1.0,1.0,5.0,5.0,3.0,4.0,4.0,5.0,3.0,3.0,5.0,4.0,3.0,3.0
450,December,2022,0.0,1.0,3.0,5.0,5.0,4.0,5.0,5.0,NaN,3.0,NaN,3.0,5.0,NaN,4.0,5.0,2.0,3.0
451,December,2022,1.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,3.0,5.0,4.0,5.0,NaN,NaN,5.0,4.0,5.0,3.0

In [3]:
df=df.dropna(subset='Rebook Rating')

In [4]:
df=df.drop(df.columns[[0,1,6,8,11,12,13,14,15,16,17]], axis=1)

In [5]:
df=df.dropna()

In [6]:
df.reset_index()

,index,Rebook Rating,Overall City Value,Overall Meeting Value,Ease of Business,Cleanliness,Entertainment / Attractions,Shopping,Overall Attendance,International Attendance
0,282,1.0,5.0,3.0,5.0,4.0,4.0,3.0,4.0,4.0
1,283,0.0,3.0,3.0,3.0,3.0,4.0,3.0,1.0,1.0
2,284,0.0,4.0,5.0,3.0,4.0,5.0,3.0,2.0,2.0
3,287,0.0,4.0,4.0,4.0,3.0,3.0,2.0,4.0,3.0
4,289,1.0,5.0,5.0,4.0,5.0,4.0,3.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...
82,444,0.0,3.0,3.0,4.0,1.0,3.0,2.0,4.0,4.0
83,446,1.0,5.0,4.0,5.0,3.0,4.0,3.0,2.0,2.0
84,447,1.0,3.0,3.0,5.0,2.0,2.0,1.0,3.0,3.0
85,449,1.0,5.0,5.0,5.0,1.0,5.0,3.0,3.0,3.0
86,451,1.0,5.0,5.0,5.0,3.0,5.0,3.0,5.0,3.0

In [7]:
from pathlib import Path  
filepath = Path('Resources/out.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)
df.to_csv(filepath)

In [8]:
df

,Rebook Rating,Overall City Value,Overall Meeting Value,Ease of Business,Cleanliness,Entertainment / Attractions,Shopping,Overall Attendance,International Attendance
282,1.0,5.0,3.0,5.0,4.0,4.0,3.0,4.0,4.0
283,0.0,3.0,3.0,3.0,3.0,4.0,3.0,1.0,1.0
284,0.0,4.0,5.0,3.0,4.0,5.0,3.0,2.0,2.0
287,0.0,4.0,4.0,4.0,3.0,3.0,2.0,4.0,3.0
289,1.0,5.0,5.0,4.0,5.0,4.0,3.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...
444,0.0,3.0,3.0,4.0,1.0,3.0,2.0,4.0,4.0
446,1.0,5.0,4.0,5.0,3.0,4.0,3.0,2.0,2.0
447,1.0,3.0,3.0,5.0,2.0,2.0,1.0,3.0,3.0
449,1.0,5.0,5.0,5.0,1.0,5.0,3.0,3.0,3.0
451,1.0,5.0,5.0,5.0,3.0,5.0,3.0,5.0,3.0

In [9]:
X = df.drop(['Rebook Rating'], axis=1)
y = df['Rebook Rating']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.1, random_state=42)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [11]:
reg = LinearRegression().fit(X_train_scaled, y_train)
reg.score(X_test_scaled, y_test)

0.26928868840115816

In [12]:
base_estimator = DecisionTreeClassifier(random_state=42)

In [13]:
bagging_model = BaggingClassifier(base_estimator=base_estimator, n_estimators=10, random_state=42)

In [14]:
bagging_model.fit(X_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=42),
                  random_state=42)

In [15]:
score = bagging_model.score(X_test, y_test)
print("Accuracy:", score)

Accuracy: 0.8888888888888888

In [16]:
decision_tree = DecisionTreeClassifier(random_state=42)

In [17]:
decision_tree.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [18]:
importances = decision_tree.feature_importances_
print("Feature importances:", importances)

Feature importances: [0.26643339 0.01174236 0.04349686 0.17935016 0.05892431 0.17954717
 0.25363783 0.00686792]

In [45]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=12)

In [46]:
scores

array([0.875     , 0.875     , 0.5       , 0.57142857, 0.42857143,
       0.42857143, 0.57142857, 0.71428571, 0.57142857, 0.85714286,
       0.71428571, 0.57142857])

In [42]:
scores.mean()

0.6436781609195402

In [86]:
bag_model = BaggingClassifier(
base_estimator=DecisionTreeClassifier(), 
n_estimators=100, 
max_samples=.8, 
bootstrap=True,
oob_score=True,
random_state=42
)

In [87]:
bag_model.fit(X_train, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.8,
                  n_estimators=100, oob_score=True, random_state=42)

In [88]:
bag_model.oob_score_

0.6410256410256411

In [85]:
bag_model.score(X_test, y_test)

0.7777777777777778